<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    //取value值 对应的checkbox 必须是数组 <br>
    <input checked type="checkbox" value="点击" v-model="name" name="all">
    <input type="checkbox" value="点击1" v-model="name" name="all">
    <input type="checkbox" value="点击2" v-model="name" name="all">
    {{name}}

    <input type="radio" v-model="radio" value="man" name="group">男
    <input type="radio" v-model="radio" value="woman" name="group">女
    {{radio}}
    //取selects的值就是我们对应的当前选中的值
    <select v-model="selects">
        <option v-for="l in lists" v-bind:value="l.name">{{l.name}}</option>
        <!--<option value="1">hello</option>
        <option value="2">world</option>
        <option value="3">hello world</option>-->
    </select>
</div>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
           name:[],
           selects:'1',
           lists:[
                {name:'jw1'},
                {name:'jw2'},
                {name:'jw3'}
           ]
        }
    })
</script>
</body>
</html>